ansible==4.10.0
ansible-core==2.11.12
boto3==1.26.20
botocore==1.29.20
cffi==1.15.1
coverage==6.5.0
cryptography==38.0.3
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
resolvelib==0.5.4
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.13
